.App {
  text-align: center;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.content {
  margin: 30px 0;
}

.control {
  display: flex;
}

.control-progress {
  margin-top: 22px;
  flex-grow: 1;
}

.player {
  min-height: 270px;
}

.player-info {
  margin-top: 15px;
}

.player-container {
  margin-left: 30px;
  min-width: 480px;
}

.chat {
  margin: 0 40px;
}

.chat-input {
  margin: 15px;
}