.App {
  text-align: center;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.control {
  display: flex;
}

.control-progress {
  margin-top: 22px;
  flex-grow: 1;
}

.player {
  min-height: 270px;
}

.player-container {
  min-width: 480px;
}